:root {
    --colors-gray1: hsl(0 0% 8.5%);
    --colors-gray2: hsl(0 0% 11.0%);
    --colors-gray3: hsl(0 0% 13.6%);

    --gradient-color-1: var(--colors-gray2);
    --gradient-color-2: var(--colors-gray3);

    margin: 0;
    padding: 0;
    background-color: #000;
}

.dock {
    background-color: var(--colors-gray1);
    position: fixed;
    inset-inline: 0;
    padding: .4rem;
    bottom: 1rem;
    margin: 0 auto;
    font-size: 1.5rem;
    line-height: calc(2 / 1.5)rem;
    color: white;
    border-radius: calc(infinity * 1px);
    display: flex;
    width: max-content;
    transition-property: all;
    transition-duration: 400ms;
    height: 50px;
}

.icon-container {
    padding: 40px;
    margin: 0 4px;
    background-image: linear-gradient(45deg, var(--gradient-color-1), var(--gradient-color-2), var(--gradient-color-1), var(--gradient-color-2));
    padding: 1rem;
    border-radius: calc(infinity * 1px);
    transition-property: all;
    transition-timing-function: cubic-bezier(0.25, 1, 0.5, 1);
    transition-duration: 200ms;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: all;
    transition-duration: 400ms;
}

.icon-container:hover {
    width: 50px;
    height: 50px;
    font-size: 2rem;
    margin-top: -40px;
}

.icon-container:hover + .icon-container {
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    margin-top: -30px;
}

.icon-container:has(+ .icon-container:hover) {
    width: 25px;
    height: 25px;
    font-size: 1.5rem;
    margin-top: -10px;
}

@media (max-width: 639px) {
    .dock {
        flex-direction: column;
        inset-inline: unset;
    }

    .icon {
        padding: 0.5rem 0.6rem;
    }
}